<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.springframework.org/security/tags">

<head>
<meta charset="utf-8">
<link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Navbar</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="#">Home
						<span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item"><a class="nav-link" href="/compte">Comptes</a></li>
				<li class="nav-item"><a class="nav-link"
					href="/compte/new-compte">New-compte</a></li>

			</ul>
		</div>
	</nav>

	<form method="POST" th:action="@{/compte/update}">
		<div class="form-group">

			<label>RIB  </label>
			<input type="number" class="form-control" id="rib" 
			name="rib" th:value="${compte.rib}">
				
			<label>Solde</label>
			<input type="number" class="form-control" id="solde"
			name="solde" th:value="${compte.solde}"> 
			
			<label>Client</label> 
			<input type="text" class="form-control" id="client" 
			name="client" th:value="${compte.client}">
		</div>

		<button type="submit" class="btn btn-primary">Submit</button>
	</form>


</body>
<script src="/js/bootstrap.min.js"></script>
</html>